body {
    background: #1a1a1a;
    margin: 0;
    padding: 24px;
    box-sizing: border-box;
}

.row{
    display: flex; 
    flex-direction: row; 
    gap: 22px;
}

#row{
    display: flex; 
    flex-direction: row; 
    gap: 22px;
}

.col{
    display: flex; 
    flex-direction: column; 
    gap: 22px;
}

.box {
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#b1 { width: 453px; height: 673px; }
#b2 { width: 480px; height: 403px; }
#b3 { width: 505px; height: 403px; }
#b4 { width: 457px; height: 751px; }
#b5 { width: 453px; height: 332px; }
#b6 { width: 1007px; height: 607px; }
#b7 { width: 955px; height: 408px; }
#b8 { width: 505px; height: 408px; }
#b9 { width: 457px; height: 688px; }